# Maezar Abdillah
## 2109106029
### Postes 1 Kecerdasan Buatan

#### Mengimport library pandas

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("covid_19_indonesia_time_series_all.csv")
df.head(10)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.00,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.00,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.00,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.00,1.84,0.18,46.51%,174.42%,1.0,1.0
5,3/3/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,0.0,1.0
6,3/3/2020,ID-JB,Jawa Barat,1,1,0,0,1,1,60,...,-6.920432,0.02,0.02,0.02,0.02,0.00,100.00%,6000.00%,NaN,NaN
7,3/3/2020,ID-RI,Riau,0,0,0,0,1,0,1,...,0.511648,0.00,0.16,0.00,0.00,0.00,0.00%,100.00%,0.0,1.0
8,3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,-6.204699,0.18,4.15,0.00,1.84,0.18,44.44%,166.67%,1.0,1.0
9,3/4/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,1.0,1.0

In [31]:
df.tail(5)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
31817,9/15/2022,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,...,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30%,96.64%,2.85,1.00
31818,9/15/2022,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,...,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27%,97.54%,6.50,1.00
31819,9/15/2022,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,...,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11%,95.51%,3.20,1.00
31820,9/15/2022,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,...,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07%,97.52%,1.92,1.00
31821,9/16/2022,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,...,-0.789275,8.89,24153.07,0.1,595.34,59.53,2.46%,97.09%,0.89,1.29

#### Melihat informasi tipe data masing masing attribute

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

#### Mengimport library numpy

In [33]:
import numpy as np

#### Menampilkan nilai rata-rata dari salah satu atribut bertipe data angka dari dataset diatas

In [34]:
df["New Deaths"].mean()

9.920652378857394

#### Menampilkan nilai minimum dari salah satu atribut bertipe data angka

In [35]:
df["New Deaths"].min()

0

#### Menampilkan nilai maksimum dari salah satu atribut bertipe data angka

In [36]:
df["New Deaths"].max()

2069

#### Menampilkan nilai Q1,Q2,dan Q3 dari salah satu atribut bertipe data angka

In [37]:
df["New Deaths"].quantile(0.25)

0.0

In [38]:
df["New Deaths"].quantile(0.50)

0.0

In [39]:
df["New Deaths"].quantile(0.75)

3.0

#### Atau kita juga bisa menggunakan command describe

In [40]:
df.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,31822.000000,31822.000000,31822.000000,31822.000000,3.182200e+04,31822.000000,3.182200e+04,31822.000000,0.0,31822.000000,...,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,29883.000000,28375.000000
mean,402.311388,9.920652,390.398498,1.992238,1.594500e+05,4564.753221,1.492615e+05,5623.782415,NaN,24.027277,...,738.894928,113.700478,-2.725681,28.133292,11485.038800,0.640308,289.633640,28.963329,1.326795,1.033834
std,2320.629838,64.139080,2199.878802,1219.513355,6.264435e+05,17693.731369,5.958536e+05,28537.412305,NaN,68.359734,...,2729.431626,9.862068,3.608065,74.309710,16477.385479,1.933016,363.428724,36.342881,2.679379,1.351755
min,0.000000,0.000000,0.000000,-29938.000000,1.000000e+00,0.000000,0.000000e+00,-2343.000000,NaN,1.000000,...,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,2.000000,-12.000000,5.223250e+03,128.000000,3.913500e+03,80.000000,NaN,7.000000,...,47.790000,106.109004,-6.204699,0.830000,1291.367500,0.000000,38.862500,3.890000,0.650000,0.750000
50%,27.000000,0.000000,20.000000,0.000000,2.359650e+04,565.500000,2.102750e+04,557.000000,NaN,11.000000,...,103.840000,113.417654,-2.461746,5.710000,6804.285000,0.000000,158.415000,15.840000,1.000000,1.000000
75%,130.000000,3.000000,123.000000,19.000000,6.992775e+04,2189.000000,6.414200e+04,2279.000000,NaN,18.000000,...,262.700000,121.201093,0.212037,22.290000,14557.360000,0.540000,389.910000,38.990000,1.310000,1.000000
max,64718.000000,2069.000000,61361.000000,39165.000000,6.405044e+06,157876.000000,6.218708e+06,586113.000000,NaN,416.000000,...,16334.310000,138.696030,4.225615,1459.040000,130231.620000,63.800000,1632.600000,163.260000,175.000000,134.500000

#### Merubah nilai salah satu atribut dari desimal ke bilangan bulat

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 9.2+ MB

In [42]:
df["Longitude"]= df["Longitude"].astype("int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  object
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  int64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  object
 35  Case Recovered Rate          31822 non-null  object
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: float64(13), int64(13), object(12)
memory usage: 9.2+ MB

In [43]:
Longitude=df["Longitude"]
Longitude.head(5)

0    106
1    106
2    113
3    101
4    106
Name: Longitude, dtype: int64

#### Menampilkan 10 record pertama Atribut bertipe data angka

In [44]:
df.select_dtypes(include=np.number).head(10)

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
0,2,0,0,2,39,20,75,-56,NaN,1,...,16334.31,106,-6.204699,0.18,3.60,0.00,1.84,0.18,NaN,NaN
1,2,0,0,2,41,20,75,-54,NaN,1,...,16334.31,106,-6.204699,0.18,3.78,0.00,1.84,0.18,1.0,1.0
2,2,0,0,2,2,0,0,2,NaN,416,...,138.34,113,-0.789275,0.01,0.01,0.00,0.00,0.00,NaN,NaN
3,1,0,0,1,1,0,1,0,NaN,10,...,69.80,101,0.511648,0.16,0.16,0.00,0.00,0.00,NaN,NaN
4,2,0,0,2,43,20,75,-52,NaN,1,...,16334.31,106,-6.204699,0.18,3.96,0.00,1.84,0.18,1.0,1.0
5,0,0,0,0,2,0,0,2,NaN,416,...,138.34,113,-0.789275,0.00,0.01,0.00,0.00,0.00,0.0,1.0
6,1,1,0,0,1,1,60,-60,NaN,18,...,1276.55,107,-6.920432,0.02,0.02,0.02,0.02,0.00,NaN,NaN
7,0,0,0,0,1,0,1,0,NaN,10,...,69.80,101,0.511648,0.00,0.16,0.00,0.00,0.00,0.0,1.0
8,2,0,0,2,45,20,75,-50,NaN,1,...,16334.31,106,-6.204699,0.18,4.15,0.00,1.84,0.18,1.0,1.0
9,0,0,0,0,2,0,0,2,NaN,416,...,138.34,113,-0.789275,0.00,0.01,0.00,0.00,0.00,1.0,1.0

In [45]:
df.select_dtypes(include=np.number).to_csv("angka_covid_indonesia.csv")

In [46]:
df = pd.read_csv("angka_covid_indonesia.csv")
df.head(10)

,Unnamed: 0,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
0,0,2,0,0,2,39,20,75,-56,NaN,...,16334.31,106,-6.204699,0.18,3.60,0.00,1.84,0.18,NaN,NaN
1,1,2,0,0,2,41,20,75,-54,NaN,...,16334.31,106,-6.204699,0.18,3.78,0.00,1.84,0.18,1.0,1.0
2,2,2,0,0,2,2,0,0,2,NaN,...,138.34,113,-0.789275,0.01,0.01,0.00,0.00,0.00,NaN,NaN
3,3,1,0,0,1,1,0,1,0,NaN,...,69.80,101,0.511648,0.16,0.16,0.00,0.00,0.00,NaN,NaN
4,4,2,0,0,2,43,20,75,-52,NaN,...,16334.31,106,-6.204699,0.18,3.96,0.00,1.84,0.18,1.0,1.0
5,5,0,0,0,0,2,0,0,2,NaN,...,138.34,113,-0.789275,0.00,0.01,0.00,0.00,0.00,0.0,1.0
6,6,1,1,0,0,1,1,60,-60,NaN,...,1276.55,107,-6.920432,0.02,0.02,0.02,0.02,0.00,NaN,NaN
7,7,0,0,0,0,1,0,1,0,NaN,...,69.80,101,0.511648,0.00,0.16,0.00,0.00,0.00,0.0,1.0
8,8,2,0,0,2,45,20,75,-50,NaN,...,16334.31,106,-6.204699,0.18,4.15,0.00,1.84,0.18,1.0,1.0
9,9,0,0,0,0,2,0,0,2,NaN,...,138.34,113,-0.789275,0.00,0.01,0.00,0.00,0.00,1.0,1.0

In [47]:
df = pd.read_csv("covid_19_indonesia_time_series_all.csv")
df.head(10)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.00,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.00,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.00,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.00,1.84,0.18,46.51%,174.42%,1.0,1.0
5,3/3/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,0.0,1.0
6,3/3/2020,ID-JB,Jawa Barat,1,1,0,0,1,1,60,...,-6.920432,0.02,0.02,0.02,0.02,0.00,100.00%,6000.00%,NaN,NaN
7,3/3/2020,ID-RI,Riau,0,0,0,0,1,0,1,...,0.511648,0.00,0.16,0.00,0.00,0.00,0.00%,100.00%,0.0,1.0
8,3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,-6.204699,0.18,4.15,0.00,1.84,0.18,44.44%,166.67%,1.0,1.0
9,3/4/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,1.0,1.0

#### Informasi yang didapat dari Covid 19 Indonesia Datasets

In [48]:
info ={
    'total_record':0,
    'atribut': [] ,
    'atribut_object':0,
    'atribut_number':0,
    'null_atribut':0
}

info['total_record'] = df.shape[0]
info['atribut'] = list(df.columns.values)
info['atribut_object'] = list(df.select_dtypes(['object']).columns)
info['atribut_number'] = list(df.select_dtypes(['float64','int64']).columns)
info['null_atribut'] = list(df.loc[:, df.isnull().any()].columns)

#### Jumlah Record

In [49]:
print("Jumlah Record : ", info['total_record'])

Jumlah Record :  31822

#### Nama Atribut dan Jumlah Atribut

In [50]:
print("Nama-nama Atribut : ", info['atribut'])
print("Jumlah Atribut : ", len(info['atribut']))

Nama-nama Atribut :  ['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'Location Level', 'City or Regency', 'Province', 'Country', 'Continent', 'Island', 'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']
Jumlah Atribut :  38

#### Jumlah Atribut dengan Tipe Objek

In [51]:
print("Nama-nama Atribut dengan tipe data object : ", info['atribut_object'])
print("Jumlah Atribut dengan tipe data Object : ", len(info['atribut_object']))

Nama-nama Atribut dengan tipe data object :  ['Date', 'Location ISO Code', 'Location', 'Location Level', 'Province', 'Country', 'Continent', 'Island', 'Time Zone', 'Special Status', 'Case Fatality Rate', 'Case Recovered Rate']
Jumlah Atribut dengan tipe data Object :  12

#### Jumlah Atribut dengan Tipe Data Angka

In [54]:
print("Nama-nama Atribut dengan tipe data Angka : ", info['atribut_number'])
print("Jumlah Atribut dengan Tipe Data Angka : ", len(info['atribut_number']))

Nama-nama Atribut dengan tipe data Angka :  ['New Cases', 'New Deaths', 'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered', 'Total Active Cases', 'City or Regency', 'Total Regencies', 'Total Cities', 'Total Districts', 'Total Urban Villages', 'Total Rural Villages', 'Area (km2)', 'Population', 'Population Density', 'Longitude', 'Latitude', 'New Cases per Million', 'Total Cases per Million', 'New Deaths per Million', 'Total Deaths per Million', 'Total Deaths per 100rb', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']
Jumlah Atribut dengan Tipe Data Angka :  26

#### Jumlah Atribut yang memiliki nilai null

In [56]:
print("Nama-nama Atribut yang memiliki nilai null : ", info['null_atribut'])
print("Jumlah Atribut yang memiliki nilai null : ", len(info['null_atribut']))

Nama-nama Atribut yang memiliki nilai null :  ['City or Regency', 'Province', 'Island', 'Time Zone', 'Special Status', 'Total Cities', 'Total Urban Villages', 'Total Rural Villages', 'Growth Factor of New Cases', 'Growth Factor of New Deaths']
Jumlah Atribut yang memiliki nilai null :  10

#### Menampilkan Nilai Korelasi bertipe data Angka

In [57]:
df.corr()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16352\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
New Cases,1.000000,0.715800,0.856939,0.319436,0.450040,0.437586,0.415930,0.923300,NaN,0.484002,...,0.090140,-0.033361,-0.015355,0.286930,0.070781,0.156476,0.056529,0.056529,-0.011979,0.016732
New Deaths,0.715800,1.000000,0.782872,-0.102710,0.330987,0.346205,0.299173,0.804404,NaN,0.436884,...,0.026040,-0.025241,-0.016520,0.142762,0.007347,0.260430,0.028235,0.028235,-0.014855,0.050342
New Recovered,0.856939,0.782872,1.000000,-0.214391,0.505747,0.487197,0.472292,0.938581,NaN,0.495591,...,0.093492,-0.034191,-0.015482,0.236727,0.089425,0.180736,0.073467,0.073467,-0.018184,0.030498
New Active Cases,0.319436,-0.102710,-0.214391,1.000000,-0.073337,-0.064373,-0.076223,0.021550,NaN,0.004042,...,0.001508,-0.000477,-0.000423,0.111464,-0.027011,-0.041967,-0.026442,-0.026442,0.010776,-0.025819
Total Cases,0.450040,0.330987,0.505747,-0.073337,1.000000,0.971399,0.999104,0.488342,NaN,0.711372,...,0.127365,-0.046796,-0.018845,0.061034,0.226990,0.016171,0.214913,0.214912,-0.021621,0.010321
Total Deaths,0.437586,0.346205,0.487197,-0.064373,0.971399,1.000000,0.968944,0.472512,NaN,0.727608,...,0.048907,-0.041491,-0.028510,0.027210,0.146406,0.017769,0.213480,0.213480,-0.022898,0.011221
Total Recovered,0.415930,0.299173,0.472292,-0.076223,0.999104,0.968944,1.000000,0.451488,NaN,0.699624,...,0.130019,-0.046710,-0.018464,0.053041,0.232100,0.008824,0.217775,0.217774,-0.021120,0.009583
Total Active Cases,0.923300,0.804404,0.938581,0.021550,0.488342,0.472512,0.451488,1.000000,NaN,0.556699,...,0.050788,-0.026217,-0.010467,0.215448,0.045860,0.159721,0.038254,0.038254,-0.019398,0.019433
City or Regency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Regencies,0.484002,0.436884,0.495591,0.004042,0.711372,0.727608,0.699624,0.556699,NaN,1.000000,...,-0.063801,0.012441,0.071783,-0.022970,-0.043960,-0.008934,-0.018385,-0.018385,-0.019580,0.013303
Total Cities,0.492296,0.439943,0.504164,0.004211,0.722969,0.733589,0.711336,0.562438,NaN,0.991381,...,-0.008334,-0.054067,0.080828,-0.007769,-0.018919,-0.003111,-0.002061,-0.002061,-0.022273,0.016578
Total Districts,0.487948,0.439953,0.499614,0.004132,0.716707,0.732821,0.704849,0.561481,NaN,0.998160,...,-0.054316,0.005392,0.052430,-0.022305,-0.044034,-0.009552,-0.019140,-0.019140,-0.020131,0.015446
Total Urban Villages,0.489461,0.440493,0.501201,0.004143,0.719237,0.734144,0.707497,0.560506,NaN,0.994205,...,-0.028619,-0.044620,0.069499,-0.015799,-0.032902,-0.005751,-0.008932,-0.008932,-0.021798,0.017601
Total Rural Villages,0.500920,0.443725,0.516438,0.004295,0.732989,0.738964,0.721739,0.565960,NaN,0.996394,...,-0.002661,-0.022282,0.056280,-0.014168,-0.033740,-0.004805,-0.006011,-0.006011,-0.021694,0.017626
Area (km2),0.471324,0.421582,0.482730,0.003920,0.692802,0.702066,0.681477,0.543795,NaN,0.985257,...,-0.076307,0.067260,0.121162,-0.015990,-0.029200,-0.008051,-0.016126,-0.016127,-0.019028,0.007868
Population,0.495641,0.447464,0.507414,0.004307,0.727281,0.745583,0.715288,0.567724,NaN,0.980478,...,-0.002495,-0.055112,-0.010378,-0.009059,-0.023190,0.000909,0.007016,0.007016,-0.024145,0.023377
Population Density,0.090140,0.026040,0.093492,0.001508,0.127365,0.048907,0.130019,0.050788,NaN,-0.063801,...,1.000000,-0.151740,-0.246599,0.265818,0.452789,0.087667,0.240810,0.240809,-0.009785,0.019407
Longitude,-0.033361,-0.025241,-0.034191,-0.000477,-0.046796,-0.041491,-0.046710,-0.026217,NaN,0.012441,...,-0.151740,1.000000,-0.118102,-0.042332,-0.061506,-0.047551,-0.103733,-0.103735,0.034883,-0.040044
Latitude,-0.015355,-0.016520,-0.015482,-0.000423,-0.018845,-0.028510,-0.018464,-0.010467,NaN,0.071783,...,-0.246599,-0.118102,1.000000,-0.026303,-0.020888,-0.004335,-0.013040,-0.013041,0.001541,-0.029785
New Cases per Million,0.286930,0.142762,0.236727,0.111464,0.061034,0.027210,0.053041,0.215448,NaN,-0.022970,...,0.265818,-0.042332,-0.026303,1.000000,0.288294,0.589620,0.212812,0.212812,0.015504,0.049216
Total Cases per Million,0.070781,0.007347,0.089425,-0.027011,0.226990,0.146406,0.232100,0.045860,NaN,-0.043960,...,0.452789,-0.061506,-0.020888,0.288294,1.000000,0.130294,0.883279,0.883279,-0.028573,-0.016663
New Deaths per Million,0.156476,0.260430,0.180736,-0.041967,0.016171,0.017769,0.008824,0.159721,NaN,-0.008934,...,0.087667,-0.047551,-0.004335,0.589620,0.130294,1.000000,0.146013,0.146014,-0.012765,0.266994
Total Deaths per Million,0.056529,0.028235,0.073467,-0.026442,0.214913,0.213480,0.217775,0.038254,NaN,-0.018385,...,0.240810,-0.103733,-0.013040,0.212812,0.883279,0.146013,1.000000,1.000000,-0.036579,-0.017003
Total Deaths per 100rb,0.056529,0.028235,0.073467,-0.026442,0.214912,0.213480,0.217774,0.038254,NaN,-0.018385,...,0.240809,-0.103735,-0.013041,0.212812,0.883279,0.146014,1.000000,1.000000,-0.036579,-0.017003
Growth Factor of New Cases,-0.011979,-0.014855,-0.018184,0.010776,-0.021621,-0.022898,-0.021120,-0.019398,NaN,-0.019580,...,-0.009785,0.034883,0.001541,0.015504,-0.028573,-0.012765,-0.036579,-0.036579,1.000000,0.009477
Growth Factor of New Deaths,0.016732,0.050342,0.030498,-0.025819,0.010321,0.011221,0.009583,0.019433,NaN,0.013303,...,0.019407,-0.040044,-0.029785,0.049216,-0.016663,0.266994,-0.017003,-0.017003,0.009477,1.000000